body{
    margin: 0;
}
header{
    /* background-color: grey; */
    padding: 0.3em 1em;
}
header ul{
   display: flex;
   list-style: none;
   gap: 2em;
   justify-content: flex-end;
}
header a{
    text-decoration: none;
    color: black;
}
section{
    display: flex;
    margin: 0 auto;
    width: 1200px;
    gap: 20px;
}
section aside{
    width: 360px;
    text-align: center;
    padding: 20px;
}
section aside img{
    width: 280px;
    border-radius: 50%;
    /* margin: 40px; */
}
section aside h1{
    font-size: 2em;
    margin-bottom: 0;
}
section aside ul{
    list-style: none;
    text-align: left;
    margin-bottom: 50px;
}
section aside li {
    margin: 10px;
}
aside li a{
    text-decoration: none;
}
aside li span {
    margin-left: 10px;

}


.contact{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 12px 80px;
    border-radius: 8px;

}


section main{
    flex: 1;
}

