body {
    margin: 0;
    box-sizing: border-box;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.3em 1em;
    position: fixed;
    background-color: white;
    right: 0;
    left: 0;
}

header ul {
    display: flex;
    list-style: none;
    gap: 2em;
    justify-content: flex-end;
}

header a {
    text-decoration: none;
    color: black;
}

section {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    gap: 20px;
}

section aside {
    width: 35%;
    max-width: 360px;
    text-align: center;
    padding: 20px;
    position: fixed;
    background-color: white;
    top: 60px;
    bottom: 0;
}

section aside img {
    width: 260px;
    max-width: 100%;
    border-radius: 50%;
}

section aside h1 {
    font-size: 2em;
    margin-bottom: 0;
}

section aside h3 {
    margin-top: 6px;
}

section aside ul {
    list-style: none;
    text-align: left;
    margin-bottom: 50px;
}

section aside li {
    margin: 10px;
}

aside li a {
    text-decoration: none;
    color: black;
}

aside li span {
    margin-left: 10px;
}

.contact {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 12px 80px;
    border-radius: 8px;
    text-wrap: nowrap;
}

section main {
    flex: 1;
    margin-left: min(400px, 35% + 40px);
    padding: 20px;
}

.content {
    padding-top: 60px;
}

footer {
    background: #e3e3e3;
    padding: 20px;
}

@media (max-width: 600px) {
    section {
        flex-direction: column;
    }

    section aside {
        position: static;
        max-width: 100%;
        width: calc(100% - 40px);
        margin-top: 60px;
    }

    section main {
        margin-left: 0;
    }
}